    <div class="credits"><strong>Dispreu Logística</strong> Copyright 2011 | <a href="/aviso-legal">AVISO LEGAL</a> | <a href="/mapa-del-sitio">MAPA</a></div>
	<div class="autoria">Diseño <a href="http://ticketdisseny.com/">Ticket Disseny</a> | Desarrollo <a href="http://memorysoft.es">Memory Soft</a></div>