@{
    var homeUrl = Href("~/");
}
<h1 id="branding"><a href="@homeUrl" title="Volver a la home de Dispreu Logistica"><img alt="Dispreu Logística Menorca" src="/Media/Default/logos/dispreu_logistica_menorca.png"  /></a></h1>

<div class="info_contacto">
            <h2 class="atencion">ATENCIÓN AL CLIENTE</h2>
            <h1 class="telefono">971 37 90 00</h1>
            <p class="email">atencioalclient@dispreu.com</p>
        </div>